<title>Вопросы и ответы | CarZone</title>
<h2 style='display: inline-block;'>CarZone Вопросы и ответы</h2>
<div style='position: absolute; right: 35px; top: 3px;'>
  {% if username %}
  {{ username }}
  <a href='{% url "logout" %}?next={% url "question_list" %}'>Выйти</a>
  {% else %}
  <a href='{% url "login" %}'>Войти</a>
  {% endif %}
</div>
<a style='margin-left: 10px;' href='{% url "question_create" %}'>Задать вопрос</a>
<div style='text-align: center;'>
  <form method='GET'>
    <input type='text' name='search'>
    <input type='submit' value='Искать'>
  </form>
  {% for question in questions %}
  <p><a href='{% url "question" question.id %}'>{{ question.text|truncatechars:50 }}</a></p>
  {% endfor %}
</div>
